@{
    ViewData["img"] = "/assets/img/contact-bg.jpg";
}
<header class="masthead" style="background-image: url('@ViewData["img"]')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Benimle iletişime geç</h1>
                            <span class="subheading">Sorunuz mu var. Bana ulaşın</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>E-mail Aderesim: veyselmor11@hotmail.com</p>
                    </div>
                </div>
            </div>
        </main>